@model IEnumerable<RGECMS.Models.Classes>

@{
    ViewBag.Title = "Index";
}

<div class="alert alert-info"><h3>Rehman Group Of Education College Semester/Classes Creation Pannel</h3></div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table-bordered table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Program.ProgramName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Program.ProgramName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassName)
        </td>
        @if (User.IsInRole("Administration"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-success" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        }
        else
        {
            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-success" })
        }
    </tr>
}

</table>
