@model RGECMS.Models.TeacherSalaryRecords

@{
    ViewBag.Title = "Create";
}

<div class="alert alert-info" role="alert">

    <h3 style="color:black;">Creating RGE College Teachers Salary/Pay Records</h3>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="container">
    <div class="form-horizontal">
        <h4 style="color:black;">Teachers Salary/Pay Records</h4>
        <hr />
        <div class="row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group col-sm">
                @Html.LabelFor(model => model.TeacherId, "TeacherId", htmlAttributes: new { @class = "control-label col-sm" })
                <div class="col-md-10">
                    @Html.DropDownList("TeacherId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TeacherId, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group col-sm">
                @Html.Label("Paying Date", htmlAttributes: new { @class = "control-label col-sm" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SubmissionDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SubmissionDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-sm">
                @Html.LabelFor(model => model.PayingAmount, htmlAttributes: new { @class = "control-label col-sm" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PayingAmount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PayingAmount, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm">
                @Html.Label("Extra Classes Amount", htmlAttributes: new { @class = "control-label col-sm" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OverTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OverTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-sm">
                @Html.LabelFor(model => model.PaymentMethod, htmlAttributes: new { @class = "control-label col-sm" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PaymentMethod, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PaymentMethod, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-sm">
                @Html.LabelFor(model => model.checkNo, htmlAttributes: new { @class = "control-label col-sm" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.checkNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.checkNo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">

            <div class="form-group col-sm-4">
                @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-sm" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-sm-4">
                @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-sm" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                </div>
            </div>
            </div>


            <div class="form-group col-sm">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
    
        }

        <div class="form-group">
            <a class="btn btn-danger mt-10" href="@Url.Action("Index", "TeacherSalaryRecords")">Back to List</a>
        </div>
