@model RGECMS.Models.ExpenseOutgoingRecords

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="container">
    <div class="form-horizontal">
        <h4>ExpenseOutgoingRecords</h4>
        <hr />
        <div class="row">
            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.TransactionDate)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.TransactionDate)

                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.TransactionType)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.TransactionType)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.RecordId)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.RecordId)
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.TransactionYear)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.TransactionYear)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.TransactionAmount)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.TransactionAmount)
                    </div>

                </div>
            </div>


            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.PersonName)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.PersonName)
                    </div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="form-group col-sm-4">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.Personid)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Personid)
                    </div>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="form-group col-sm ">
                <div class="col-md-offset-2 col-md-10 ">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })

                </div>
            </div>

        </div>
    </div>
        </div>
<div class="form-group">
    <a class="btn btn-danger mt-10" href="@Url.Action("Index", "ExpenseOutgoingRecords")">Back to List</a>
</div>
