@model RGECMS.Models.collegeExpenseCategories

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="container">
    <div class="form-horizontal">
        <h4>College Expense Categories</h4>
        <hr />
        <div class="row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group col-sm">
                @Html.LabelFor(model => model.Categories, htmlAttributes: new { @class = "control-label col-sm" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Categories, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Categories, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
    </div>
    }
    <div class="form-group">
        <a class="btn btn-danger mt-10" href="@Url.Action("Index", "collegeExpenseCategories")">Back to List</a>
    </div>
