@model RGECMS.Models.StudentFeeRecords

@{
    ViewBag.Title = "Create";
}
<div class="alert alert-info"><h3>Generate Student Fees Challan</h3></div>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="form-horizontal">
            <h4>Student Fees Records </h4>
            <hr />
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group col-sm">
                    @Html.LabelFor(model => model.StudentId, "StudentId", htmlAttributes: new { @class = "control-label col-sm" })
                    <div class="col-md-10">
                        @Html.DropDownList("StudentId", null, "---Select Enrollment---", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.StudentId, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group col-sm">
                    @Html.LabelFor(model => model.SubmissionDate, htmlAttributes: new { @class = "control-label col-sm" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SubmissionDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SubmissionDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-sm">
                    @Html.Label("Addmission/TutionFee", htmlAttributes: new { @class = "control-label col-sm" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AdmissionFeeTutionFee, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AdmissionFeeTutionFee, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="form-group col-sm">
                    @Html.LabelFor(model => model.HostelFee, htmlAttributes: new { @class = "control-label col-sm" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.HostelFee, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HostelFee, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-sm">
                    @Html.LabelFor(model => model.SecFee, htmlAttributes: new { @class = "control-label col-sm" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SecFee, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SecFee, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-sm">
                    @Html.LabelFor(model => model.PaymentMethod, htmlAttributes: new { @class = "control-label col-sm" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PaymentMethod, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PaymentMethod, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="form-group col-sm-4">
                    @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-sm" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-sm">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<div class="form-group">
    <a class="btn btn-danger mt-10" href="@Url.Action("Index", "StudentFeeRecords")">Back to List</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
