@model RGECMS.Models.StudentFeeRecords

@{
    ViewBag.Title = "Details";
}

<div class="alert alert-info">
    <h3>Students Fees Details</h3>
</div>


<div class="container">
    <div class="form-horizontal">
        <h4>Student Fee Challan</h4>
        <hr />

        <div class="row">
            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.Id)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Id)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.Students.StudentName)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Students.StudentName)
                    </div>

                </div>
            </div>


            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.Name)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Name)
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.FatherName)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.FatherName)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.SemesterClass)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.SemesterClass)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.SubmissionDate)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.SubmissionDate)
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.AdmissionFeeTutionFee)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.AdmissionFeeTutionFee)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.HostelFee)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.HostelFee)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.SecFee)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.SecFee)
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.PaymentMethod)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.PaymentMethod)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.GrossTotalAmount)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.GrossTotalAmount)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.Payingstatus)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Payingstatus)
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-4">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.batch)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.batch)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm-4">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.Remarks)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Remarks)
                    </div>

                </div>
            </div>
            </div>
        </div>

        </div>
                    @*<p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                        @Html.ActionLink("Back to List", "Index")
                    </p>*@
<div class="form-group">
    <a class="btn btn-danger mt-10" href="@Url.Action("Index", "StudentFeeRecords")">Back to List</a>
</div>
