@model IEnumerable<RGECMS.Models.CollegeFiles>

@{
    ViewBag.Title = "Index";
}
<style>
    table#example.dataTable thead:hover {
        background-color: #8fa5c7;
    }

    table#example.dataTable tbody tr:hover {
        background-color: #b6b6b8;
    }

        table#example.dataTable tbody tr:hover > .sorting_1 {
            background-color: #b6b6b8;
        }
</style>
<script src="~/Scripts/jquery.min.js"></script>

<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="alert alert-info" role="alert">
    <h4>RGE College Teacher Uploaded Files List Including Lectures,Notes,Exam Results And Other Notifications Reports Files</h4>
</div>

<div class="form-group">
    <a class="btn btn-primary mt-10" @Html.ActionLink("Upload New Files", "Create")</a>
    </div>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UploadingDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FileDescription)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.FileCat)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Uploadername)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr class="alert-success">
                    <td>
                        @Html.DisplayFor(modelItem => item.UploadingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileCat)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Uploadername)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                        <a href="@item.filepath" class=" btn btn-success">Download</a>
                    </td>
                </tr>
            }

    </table>
    <link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" type="stylesheet" />
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="stylesheet" />
    @*.................Script side datatable searching and pagination...................*@
    @section scripts{
        <script src="//code.jquery.com/jquery-3.3.1.js"></script>

        <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

        <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

        <script>
            $(document).ready(function () {
                $('#example').DataTable()




            });

        </script>
    }
