@model RGECMS.Models.TeacherCoursesRecord

@{
                /**/

                ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div class="container">
    <div class="form-horizontal">
        <h4>TeacherCoursesRecord</h4>
        <hr />
        <div class="row">
            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.Teacherid)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Teacherid)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.Name)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Name)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.Assignedprocessid)
                </div>

                <div class="col-md-10">
                    <div class="form-control">

                        @Html.DisplayFor(model => model.Assignedprocessid)
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.AssignedDate)
                </div>

                <div class="col-md-10">
                    <div class="form-control">

                        @Html.DisplayFor(model => model.AssignedDate)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.ProgramId)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.ProgramId)
                    </div>

                </div>
            </div>
            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.ClassId)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.ClassId)
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-4">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.SubjectId)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.SubjectId)
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="form-horizontal">
            <div class="form-group col-sm-4">
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" />
                </div>
            </div>

        </div>
    </div>
    <div class="form-group">
        <a class="btn btn-danger mt-10" href="@Url.Action("Index", "TeacherCoursesRecords")">Back to List</a>
    </div>
}
            
