@model RGECMS.Models.Teachers
@{
    ViewBag.Title = "ProfileTeacher";
}

<div>
    <div class="alert alert-primary" role="alert">
        <h3>RGE College Teacher Profile Information</h3>
    </div>
    <hr />
    <dl class="dl-horizontal">
      

        <dt>
            @Html.DisplayNameFor(model => model.TeacherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeacherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.teacherdesignationcategory.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teacherdesignationcategory.DepartmentName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JoiningDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JoiningDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specialization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialization)
        </dd>

    </dl>
</div>

