@model RGECMS.Models.Teachers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="container">
    <div class="zmdi-format-valign-top">
        <h4>Teachers</h4>
        <hr />
        <div class="row">
            <div class="form-group col-sm ">
                <div class="col-md-offset-2 col-md-10 ">
                    <img src="@Url.Content(Model.Uploadimage?? "~/image")" alt="Image" height="150" width="150" class="img-circle img-responsive" />

                </div>
            </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <div class="control-label col-sm">
                        @Html.DisplayNameFor(model => model.TeacherName)
                    </div>

                    <div class="col-md-10">
                        <div class="form-control">
                            @Html.DisplayFor(model => model.TeacherName)
                        </div>

                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <div class="control-label col-sm">
                        @Html.DisplayNameFor(model => model.FatherName)
                    </div>

                    <div class="col-md-10">
                        <div class="form-control">
                            @Html.DisplayFor(model => model.FatherName)
                        </div>

                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <div class="control-label col-sm">
                        @Html.DisplayNameFor(model => model.Address)
                    </div>

                    <div class="col-md-10">
                        <div class="form-control">
                            @Html.DisplayFor(model => model.Address)
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm">
                    <div class="control-label col-sm">
                        @Html.DisplayNameFor(model => model.ContactInfo)
                    </div>

                    <div class="col-md-10">
                        <div class="form-control">
                            @Html.DisplayFor(model => model.ContactInfo)
                        </div>

                    </div>
                </div>

                <div class="form-group col-sm">
                    <div class="control-label col-sm">
                        @Html.DisplayNameFor(model => model.Status)
                    </div>

                    <div class="col-md-10">
                        <div class="form-control">
                            @Html.DisplayFor(model => model.Status)
                        </div>

                    </div>
                </div>

                <div class="form-group col-sm">
                    <div class="control-label col-sm">
                        @Html.DisplayNameFor(model => model.JoiningDate)
                    </div>

                    <div class="col-md-10">
                        <div class="form-control">
                            @Html.DisplayFor(model => model.JoiningDate)
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-4">
                    <div class="control-label col-sm">
                        @Html.DisplayNameFor(model => model.Specialization)
                    </div>

                    <div class="col-md-10">
                        <div class="form-control">
                            @Html.DisplayFor(model => model.Specialization)
                        </div>

                    </div>
                </div>





            </div>
            <div class="row">
                <div class="form-group col-sm ">
                    <div class="col-md-offset-2 col-md-10 ">
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })

                    </div>
                </div>

            </div>
        </div>
    </div>
                   
                    <div class="form-group">
                        <a class="btn btn-danger mt-10" href="@Url.Action("Index", "Teachers")">Back to List</a>
                    </div>
