@model RGECMS.Models.AttendanceRecordsdata

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<div class="container">
    <div class="form-horizontal">
        <h4>AttendanceRecordsdata</h4>
        <hr />
        <div class="row">
            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.Attendanceoptions.Options)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Attendanceoptions.Options)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.Studentid)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Studentid)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.Name)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Name)
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.ClassId)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.ClassId)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.dataofattendance)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.dataofattendance)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.Remarks)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Remarks)
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm ">
                <div class="col-md-offset-2 col-md-10 ">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })

                </div>
            </div>

        </div>
    </div>
    </div>

         
       
<div class="form-group">
    <a class="btn btn-danger mt-10" href="@Url.Action("Index", "AttendanceRecordsdatas")">Back to List</a>
</div>
