@model RGECMS.Models.teacherdesignationcategory

@{
    ViewBag.Title = "Details";
}

<div class="alert alert-info" role="alert">

    <h3 style="color:black;">Teacher Department Record Details</h3>
</div>
<div>
    

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>
        <dt>
            @Html.DisplayName("Department Id")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
