@model RGECMS.Models.AttendanceRecordsdata

@{
    ViewBag.Title = "Details";
}
<h2 style="color:black;">Individual Student Attendance Details</h2>



<div class="container">
    <div class="form-horizontal">
        <div class="alert alert-info" role="alert">
            <h4 style="color:black;">Attendance Records Details.</h4>
        </div>
        <hr />
        <div class="row">
            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayName("Attendance Status")
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Attendanceoptions.Options)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.Studentid)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Studentid)
                    </div>

                </div>
            </div>


            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.Name)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Name)
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.ClassId)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.ClassId)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.Classname)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Classname)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayName("Attendance Marking Date")
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.dataofattendance)
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-4">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.Remarks)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Remarks)
                    </div>

                </div>
            </div>
            </div>
        </div>

       
        </div>
<div class="form-group">
    <a class="btn btn-danger mt-10" href="@Url.Action("Index", "AttendanceRecordsdatas")">Back to List</a>
</div>
