@model RGECMS.Models.Publicmessages

@{
    ViewBag.Title = "Details";
}

<div class="alert alert-primary" role="alert">
    <h4 style="color:black;">
 Public Messages To Rahman Group Of Education College Batkhela,Malakand
    </h4>
</div>
<div>
  <h5 style="color:black;">Message To Rahman Group Of Education College</h5>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MessageDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Back to Message List", "Index")
</p>
