@model RGECMS.Models.LibararyBooks

@{
    ViewBag.Title = "Create";
}

<div class="alert alert-info">
    <h3 style="color:black">
        Create Or Add New RGE Books Record Please Properly Enter The Valid Required Fields A well as Try To Enter The Records In Correct And Valid Manner!
    </h3>
</div>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">

        <div class="form-horizontal">
            <h4> New RGE Library Book Record</h4>
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="form-group col-sm">
                    @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "control-label col-sm" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Book Author" } })
                        @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-sm">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-sm" })
                    <div class="col-md-10 ">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Book Title/Name" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-sm">
                    @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-sm" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Book Quantity" } })
                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm">
                    @Html.LabelFor(model => model.PublisherPlace, htmlAttributes: new { @class = "control-label col-sm" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PublisherPlace, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Publisher/Place" } })
                        @Html.ValidationMessageFor(model => model.PublisherPlace, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-sm">
                    @Html.LabelFor(model => model.DepartmentId, "DepartmentId", htmlAttributes: new { @class = "control-label col-sm" })
                    <div class="col-md-10">
                        @Html.DropDownList("DepartmentId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-sm">
                    @Html.LabelFor(model => model.Program, htmlAttributes: new { @class = "control-label col-sm" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Program, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Program Example BS" } })
                        @Html.ValidationMessageFor(model => model.Program, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm">
                    @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-sm" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Year Example 2019" } })
                        @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-sm">
                    @Html.LabelFor(model => model.Pages, htmlAttributes: new { @class = "control-label col-sm" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Pages, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Book Pages" } })
                        @Html.ValidationMessageFor(model => model.Pages, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-sm">
                    @Html.LabelFor(model => model.CallNo, htmlAttributes: new { @class = "control-label col-sm" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CallNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Book Call No" } })
                        @Html.ValidationMessageFor(model => model.CallNo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="form-group col-sm">
                    @Html.LabelFor(model => model.EditionVolume, htmlAttributes: new { @class = "control-label col-sm" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EditionVolume, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Book Volume/Edition" } })
                        @Html.ValidationMessageFor(model => model.EditionVolume, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-sm">
                    @Html.LabelFor(model => model.Shelf, "Shelf", htmlAttributes: new { @class = "control-label col-sm" })
                    <div class="col-md-10">
                        @Html.DropDownList("Shelf", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Shelf, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-sm">
                    @Html.Label("Added Date", htmlAttributes: new { @class = "control-label col-sm" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AddedDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AddedDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add New Book" class="btn btn-default" />
                </div>
            </div>
        </div>
        </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
