
@{
    ViewBag.Title = "Print Slip";
}
@model RGECMS.Models.LibarayIssuedBooks
<script language="javascript">
    // for printing specific area of the page int x = (int)System.Web.HttpContext.Current.Session["MyValue"];
    function printdiv(printpage) {
        var restorepage = $('body').html();
        var printcontent = $('#' + printpage).clone();
        $('body').empty().html(printcontent);
        window.print();
        $('body').html(restorepage);
    }
</script>

<div id="div_print">
    <h3 style="color:black">Rahman Group Of Education College Library System</h3>
    <h5 style="color:black">Printing Assigning No # @Html.DisplayFor(model => model.Id)</h5>
    <h5 style="color:black">Printing Date:@DateTime.Now.Date.ToLocalTime().ToShortDateString()</h5>

    <table class="table table-bordered">
        <thead>
            <tr>

                <th scope="col">Student Name</th>
                <th scope="col">Student Id</th>

            </tr>
        </thead>
        <tbody>
            <tr>

                <td>@Html.DisplayFor(model => model.StudentName)</td>
                <td>@Html.DisplayFor(model => model.StudedRegId)</td>

            </tr>
        </tbody>
        <thead>
            <tr>

                <th scope="col">Department</th>
                <th scope="col">Class/Batch</th>

            </tr>
        </thead>
        <tbody>
            <tr>

                <td>@Html.DisplayFor(model => model.StudentDepartment)</td>
                <td>@Html.DisplayFor(model => model.StudentClass)</td>


            </tr>
        </tbody>
        <thead>
            <tr>
                <th scope="col">Book Title</th>
                <th scope="col">Book Id</th>
            </tr>
        </thead>
        <tbody>
            <tr>



                <td>@Html.DisplayFor(model => model.BookTitle)</td>
                <td>@Html.DisplayFor(model => model.BookId)</td>
            </tr>
        </tbody>
        <thead>
            <tr>



                <th scope="col">Assigned Date</th>
                <th scope="col">Return Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>@Html.DisplayFor(model => model.AssignedDate)</td>
                <td>@Html.DisplayFor(model => model.ReturnDate)</td>
            </tr>

        </tbody>
        <thead>
            <tr>


                <th scope="col">Status</th>
                <th scope="col">Assigned By</th>

            </tr>
        </thead>
        <tbody>
            <tr>

                <td>Assigned</td>
                <td>@Html.DisplayFor(model => model.AssignedBy)</td>

            </tr>
            <tr>


                <td colspan="1">Note/Remarks</td>

                <td>@Html.DisplayFor(model => model.Comments)</td>
            </tr>
        

        </tbody>
    </table>




</div>

<p>
    @Html.ActionLink("Go Back To Main Books Page", "Index", new { @class = "btn btn-primary" })
    <input type="button" style="width:100px;" value="Print Slip" onclick="printdiv('div_print')" class="btn btn-success" />
</p>


