@model RGECMS.Models.IncomeOutcomeviewmodel

@{
    ViewBag.Title = "IncomeOutcomeReport";
}
<h3 style="color:black;">College Montly/Yearly Income and Outcome Reports Generating Pannel</h3>
<div class="alert alert-success">
    <b style="color:black">
        Generate Rahman Group Of Education Yearly Monthly Icome And OutCome Reports On
        The basis Of Month and Year,give the month and year Detail for generating specifically that year and month Income/OutCome Reports.
    </b>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="form-horizontal">

            <hr />
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group col-sm-4">
                    @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-sm" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control", @placeholder = "Example 2019 " } })
                        @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    @Html.LabelFor(model => model.Month, htmlAttributes: new { @class = "control-label col-sm" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Month, new { htmlAttributes = new { @class = "form-control", @placeholder = "Example January " } })
                        @Html.ValidationMessageFor(model => model.Month, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Generate Report" class="btn btn-default" />
                    </div>
                </div>
            </div>
            </div>
        </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
