
@{
    /**/

    ViewBag.Title = "ShowFeeReport";
}

@model IEnumerable<RGECMS.Models.StudentFeeRecords>
<style>
    table#example.dataTable thead:hover {
        background-color: #8fa5c7;
    }

    table#example.dataTable tbody tr:hover {
        background-color: #b6b6b8;
    }

        table#example.dataTable tbody tr:hover > .sorting_1 {
            background-color: #b6b6b8;
        }
</style>
<script src="~/Scripts/jquery.min.js"></script>

<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script language="javascript">
    // for printing specific area of the page int x = (int)System.Web.HttpContext.Current.Session["MyValue"];
    function printdiv(printpage) {
        var restorepage = $('body').html();
        var printcontent = $('#' + printpage).clone();
        $('body').empty().html(printcontent);
        window.print();
        $('body').html(restorepage);
    }
</script>
<div id="div_print">
    <h3>Rehman Group Of Education College Student Monthly/Yearly Fees Income Report</h3>
    <div class="alert alert-info"><b style="color:black">Student Fees Report Generated On @DateTime.Now.Date.ToShortDateString()</b></div>



    @if (TempData["Getlist"] != null)
    {
        <p style="color:black">
            @TempData["Count"]
        </p>
        <p style="color:black">Total Fee Amount:: @TempData["TotalAmount"] Rupees</p>
        <p style="color:black">Total Student Submitted Fees In Given Year And Month Are=@TempData["Countno"]</p>
        <div style="width:100%; overflow:auto">
            <table id="example" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("SlipId")
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Students.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FatherName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SemesterClass)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SubmissionDate)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.GrossTotalAmount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Payingstatus)
                        </th>

                      
                    </tr>
                    </thead>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Students.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FatherName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SemesterClass)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubmissionDate)
                            </td>


                            <td>
                                @Html.DisplayFor(modelItem => item.GrossTotalAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Payingstatus)
                            </td>


                        </tr>
                    }

            </table>
            </div>



            }
            else
            {
            <div class="alert alert-danger"><b style="color:black">No Student Fee Record Found For The Give Year And Month</b></div>
            }
        </div>
<div>
    @Html.ActionLink("Back to Generate Page", "StudentFeesReport")
    <input type="button" style="width:100px;" value="Print Slip" onclick="printdiv('div_print')" class="btn btn-success" />
</div>
<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" type="stylesheet" />
<link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="stylesheet" />
@*.................Script side datatable searching and pagination...................*@
@section scripts{
    <script src="//code.jquery.com/jquery-3.3.1.js"></script>

    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable()




        });

    </script>
}
