<!-- This is for the registration office -->
<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30">
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="@Url.Action( "Index", "Home")" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Registration Office Home</span></a></li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-face"></i><span class="hide-menu">Profile Information </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="@Url.Action("ProfileRegistration", "RegistrationOffice")" class="sidebar-link"><i class="mdi mdi-emoticon"></i><span class="hide-menu">Registration Employee Profile</span></a></li>

                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-face"></i><span class="hide-menu">Notifications</span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="@Url.Action( "Index", "Notifications")" class="sidebar-link"><i class="mdi mdi-emoticon"></i><span class="hide-menu">College Notifications</span></a></li>

                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">User Accounts</span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="@Url.Action( "Register", "Account")" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu">Create User Accounts</span></a></li>

                    </ul>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Student Registration</span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="@Url.Action( "Index", "Students")" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu">Register Students</span></a></li>

                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Teachers Registration</span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="@Url.Action( "Index", "Teachers")" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu">Register Teachers</span></a></li>

                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Employee Registration</span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="@Url.Action( "Index", "CollegeEmployees")" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu">Register Employees</span></a></li>

                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Student Course Registration</span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="@Url.Action( "Index", "StudentClassAssigningSystems")" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu">Register Semesters/Classes</span></a></li>
                        <li class="sidebar-item"><a href="@Url.Action( "Index", "StudentCourseRegistrationHistories")" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu">Registered Courses Records</span></a></li>
                        @*<li class="sidebar-item"><a href="@Url.Action( "Index", "StudentCoursesBuckets")" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu">Student Courses Bucket</span></a></li>*@

                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Teacher Course Registration</span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="@Url.Action( "Index", "TeacherclassAssignings")" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu">Register Teachers Courses</span></a></li>
                        <li class="sidebar-item"><a href="@Url.Action( "Index", "TeacherCoursesRecords")" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu">Teachers Courses Records</span></a></li>

                    </ul>
                </li>




                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-account-key"></i><span class="hide-menu">Manage Account</span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href=" @Url.Action( "Index", "Manage")" class="sidebar-link"><i class="mdi mdi-all-inclusive"></i><span class="hide-menu">Account Password</span></a></li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>


