@model RGECMS.Models.Notification

@{
    ViewBag.Title = "Details";
}

<div class="alert alert-primary" role="alert">
    <h3 style="color:black;">
        Rahman Group Of Education College Notification Pannel
    </h3>
</div>

<div class="container">
    <div class="form-horizontal">
        <h4 style="color:black;">College Notification</h4>
        <hr />
        <div class="row">
            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.NotificationMessage)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        <h4 style="color:black;">   @Html.DisplayFor(model => model.NotificationMessage)</h4>
                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.NotificationDate)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.NotificationDate)
                    </div>

                </div>
            </div>
            </div>

            @*<dt>
            @Html.DisplayNameFor(model => model.NotificationSpecific)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotificationSpecific)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotificationAll)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotificationAll)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>*@

           
        </div>
    </div>

<div class="form-group">
    <a class="btn btn-danger mt-10" href="@Url.Action("Index", "Notifications")">Back to List</a>
</div>
