  
@{
    ViewBag.Title = "Previuos";
}

@model IEnumerable<RGECMS.Models.Notification>



<div class="alert alert-primary" role="alert">
    <h3 style="color:black;">
        Rahman Group Of Education College Previuos College Notifications
    </h3>
</div>

<table class="table-bordered table-hover table-responsive">

        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.NotificationDate)
            </th>
            <th>
                @Html.DisplayName("Notification For")
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
  
 
    @foreach (var item in Model)
    {
        if (item.status=="Read")
        {
            <tr class="alert alert-success">
             
                <td>
                    @Html.DisplayFor(modelItem => item.NotificationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NotificationSpecific)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>

                <td>

                    @Html.ActionLink("See Notification", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
               

                </td>


            </tr>
        }
       
        

    }


</table>

