@model RGECMS.Models.CollegeEmployees

@{
    ViewBag.Title = "AdminProfile";
}
<style>
    dt {
        float: left;
        clear: left;
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 20px;
        font-weight: bold;
        width: 180px;
        font-size: 20px;
    }

    img {
        border-radius: 50%;
        /*border:solid;*/
        float: left;
        margin-top: -10px;
    }


    dd {
        float: left;
        margin-top: 20px;
        margin-right: 20px;
        font-size: 20px;
        display: block;
    }
</style>

<h2>AdminProfile</h2>

<div>
    <h4></h4>
    <hr />
    <div class="container">
        <div class="form-horizontal">
          
            <div class="contanier">
                <dl class="dl-horizontal">

                    <dt>
                        <img src="@Url.Content(Model.Uploadimage?? "~/image")"  alt="Image" height="150" width="150"  class="img-circle img-responsive"  />
                    </dt>
                </dl>
            </div>
        </div>
   
    <div class="container">

        <div class="row">
            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.Id)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Id)

                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.EmployeeName)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.EmployeeName)
                    </div>

                </div>
            </div>


            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.FatherName)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.FatherName)
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.Status)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Status)
                    </div>

                </div>
            </div>
            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class="font-weight-bold">
                        @Html.DisplayName("DesignationName")

                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @TempData["name"]
                    </div>

                </div>
            </div>



            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.ContactInfo)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.ContactInfo)
                    </div>

                </div>
            </div>
        </div>

        <div class="row">


            <div class="form-group col-sm-4">
                <div class="control-label col-sm">
                    <div class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.JoiningDate)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.JoiningDate)
                    </div>

                </div>
            </div>
            <div class="form-group col-sm-4">
                <div class="control-label col-sm">
                    <div class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.Address)

                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Address)
                    </div>

                </div>
            </div>
        </div>


    </div>
        </div>
</div>
