@model RGECMS.Models.CollegeEmployees
@{
    ViewBag.Title = "AdminProfile";
}



<div class="alert alert-primary" role="alert">
    <h3>RGE College Administration Profile Information</h3>
</div>

<div class="container">
    <div class="form-horizontal">
        <hr />
        <div class="row">
            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.Id)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Id)
                    </div>

                </div>
            </div>
            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.EmployeeName)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.EmployeeName)
                    </div>

                </div>
            </div>
            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.FatherName)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.FatherName)
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayName("DesignationName")
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @TempData["name"]
                    </div>

                </div>
            </div>



            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.Address)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Address)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.ContactInfo)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.ContactInfo)
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-4">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.Status)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Status)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm-4">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.JoiningDate)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.JoiningDate)
                    </div>

                </div>
            </div>

      </div>
       
    </div>
</div>
