@model RGECMS.Models.StudentCourseRegistrationHistory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="container">
    <div class="form-horizontal">
        <h4>StudentCourseRegistrationHistory</h4>
        <hr />
        <div class="row">
            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.id)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.id)
                    </div>

                </div>
            </div>
            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.Regid)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Regid)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.Studentid)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Studentid)

                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.StudentName)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.StudentName)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.year)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.year)
                    </div>

                </div>
            </div>
            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.AssignedDate)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.AssignedDate)
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.ProgramId)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.ProgramId)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.ClassId)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.ClassId)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    @Html.DisplayNameFor(model => model.Comments)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Comments)
                    </div>

                </div>
            </div>

            </div>
        </div>
    </div>
<div class="form-group">
    <a class="btn btn-danger mt-10" href="@Url.Action("Index", "StudentCourseRegistrationHistories")">Back to List</a>
</div>
