@model PagedList.IPagedList<RGECMS.Models.StudentCourseRegistrationHistory>
@using PagedList.Mvc;
<style>
    .pagination {
        /*display: inline-block;*/
    }

        .pagination a {
            color: black;
            padding: 8px 16px;
            text-decoration: none;
        }

            .pagination a.active {
                background-color: #4CbF50;
                color: white;
            }

            .pagination a:hover:not(.active) {
                background-color: dodgerblue;
            }
</style>

@{
    ViewBag.Title = "Index";
}

<h2 style="color:black;">College Students Courses Registration Records History</h2>

<div class="alert alert-success" role="alert">
    <h4 style="color:black;">Total Student Class/Semester Registration Record Found Are:- @TempData["Totaluser"]  </h4>
</div>
@using (Html.BeginForm("index", "StudentCourseRegistrationHistories", FormMethod.Get))
{
    <p>
        <label style="color:black;">Student Registration No:</label>@Html.TextBox("search")
        <input type="submit" value="Search Student Records" class="btn btn-success card-hover" />
    </p>


}
<table class="table-bordered table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayName("Assigned Date")
        </th>
        <th>
            @Html.DisplayName("Assigned Process Id")
        </th>
        <th>
            @Html.DisplayName("Student Reg No")
        </th>
        <th>
            @Html.DisplayName("Student Name")
        </th>
        <th>
            @Html.DisplayName("Registration Year")
        </th>

        <th>
            @Html.DisplayName("Program Name")
        </th>
        <th>
            @Html.DisplayName("Class Name")
        </th>
        <th>
            @Html.DisplayName("Comments")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AssignedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Regid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Studentid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.year)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.ProgramName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
       @if (User.IsInRole("Administration"))
       {
        <td>

            @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-success" })
            @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
        </td>
       }
       else
       {
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-success" })
        </td>
            }
</tr>
}

</table>
<a style="color:black;">Showing Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</a>


@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))