@model IEnumerable<RGECMS.Models.LibarayShelfCat>

@{
    ViewBag.Title = "Index";
}
<style>
    table#example.dataTable thead:hover {
        background-color: #8fa5c7;
    }

    table#example.dataTable tbody tr:hover {
        background-color: #b6b6b8;
    }

        table#example.dataTable tbody tr:hover > .sorting_1 {
            background-color: #b6b6b8;
        }
</style>
<h2>Index</h2>

<script src="~/Scripts/jquery.min.js"></script>

<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="form-group">
    <a class="btn btn-primary mt-10" @Html.ActionLink("Add new", "Create")</a>
</div>
<div style="width:100%; overflow:auto">
    <table id="example" class="table table-striped table-bordered" >
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ShelfName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ShelfName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a class="btn btn-warning" href="@Url.Action("Edit", "LibarayShelfCats", new { id = item.Id })"><span class="glyphicon glyphicon-edit"></span></a> |
                    <a class="btn btn-success" href="@Url.Action("Details", "LibarayShelfCats", new { id = item.Id })"><span class="glyphicon glyphicon-th-list"></span></a> |
                    <a class="btn btn-danger" href="@Url.Action("Delete", "LibarayShelfCats", new { id = item.Id })"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        }

    </table>
    </div>
    <link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" type="stylesheet" />
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="stylesheet" />
    @*.................Script side datatable searching and pagination...................*@
    @section scripts{
        <script src="//code.jquery.com/jquery-3.3.1.js"></script>

        <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

        <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

        <script>
        $(document).ready(function () {
            $('#example').DataTable()




        });

        </script>
    }
