@model IEnumerable<RGECMS.Models.CollegeFiles>
@{
    ViewBag.Title = "UploadedFiles";
}

<div class="alert alert-info" role="alert">
    <h4>RGE College Teachers Uploaded Lectures,Notes,Exam Results And Other Notifactiona Reports Files</h4>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table-bordered  table-responsive table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UploadingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileDescription)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FileCat)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Uploadername)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="alert-info">
            <td>
                @Html.DisplayFor(modelItem => item.UploadingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileCat)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Uploadername)
            </td>
            <td>
                @Html.ActionLink("Download", "Download", new { id = item.Id }, new { @class = "btn btn-success" })
         
     
            </td>
        </tr>
    }

</table>


