@model RGECMS.Models.Students
@{
    ViewBag.Title = "UserProfile";
}
<style>
    dt {
        float: left;
        clear: left;
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 20px;
        font-weight: bold;
        width: 180px;
        font-size: 20px;
    }
    img {
        border-radius: 50%;
        /*border:solid;*/
        float: left;
        margin-top: -10px;
        margin-left:-20px;
    }


    dd {
        float: left;
        margin-top: 20px;
        margin-right: 20px;
        font-size: 20px;
        display: block;
    }
        .contanier

    {
        margin-top: -5px;
        float: left;
    }

    .contain {
        float: left;
    }

    .contein {
        float: left;
        margin-left: 120px;
    }
    </style>

<div class="alert alert-primary" role="alert">
    <h3>RGE Student Account Profile Information</h3>
</div>


<div class="container">
    <div class="form-horizontal">

        <hr />
        <div class="contanier">
            <dl class="dl-horizontal">

                <dt>
                    <img src="@Url.Content(Model.Uploadimage)" Height="200" Width="175" />
                </dt>
            </dl>
        </div>
        <div class="contain">
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayName("Current Semester/Class")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CurrentSemclass)


                <dt>
                    @Html.DisplayNameFor(model => model.StudentName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StudentName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.GuardianName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GuardianName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>
                </dl>
        </div>
        <div class="contein">
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.ContactInfo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ContactInfo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AddmissionDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AddmissionDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Programs.ProgramName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Programs.ProgramName)
                </dd>
                </dl>

                
        </div>

    </div>
    </div>
