@model RGECMS.Models.ExpensesRecords

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Confirmation</h2>
<div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Are you sure you want to delete this Transaction No=@Html.DisplayFor(model => model.Id) Of This Type @Html.DisplayFor(model => model.collegeExpenseCategories.Categories)?</strong>
</div>
<div class="container">
    <div class="form-horizontal">
        <h4>ExpensesRecords</h4>
        <hr />
        <div class="row">
            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.collegeExpenseCategories.Categories)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.collegeExpenseCategories.Categories)

                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.RecieverName)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.RecieverName)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.PayingDate)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.PayingDate)
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.ItemQuantity)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.ItemQuantity)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.ItemName)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.ItemName)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.TransactionYear)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.TransactionYear)
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-4">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.PaidAmount)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.PaidAmount)
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="container">
            <div class="form-horizontal">
                <div class="form-group col-sm-4">
                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </div>
                </div>

            </div>
        </div>
        <div class="form-group">
            <a class="btn btn-primary mt-10" href="@Url.Action("Index", "ExpensesRecords")">Back to List</a>
        </div>
    }

