@model RGECMS.Models.ExpensesRecords

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="container">
    <div class="form-horizontal">
        <h4>ExpensesRecords</h4>
        <hr />
        <div class="row">
            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.CategoryId)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.CategoryId)
                    </div>

                </div>
            </div>
            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.RecieverName)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.RecieverName)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.PayingDate)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.PayingDate)
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.ItemQuantity)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.ItemQuantity)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.ItemName)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.ItemName)
                    </div>

                </div>
            </div>

            <div class="form-group col-sm">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.TransactionYear)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.TransactionYear)
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-4">
                <div class="control-label col-sm">
                    <div class=" font-weight-bold">
                        @Html.DisplayNameFor(model => model.PaidAmount)
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.PaidAmount)
                    </div>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="form-group col-sm ">
                <div class="col-md-offset-2 col-md-10 ">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })

                </div>
            </div>

        </div>
    </div>
    </div>
       
<div class="form-group">
    <a class="btn btn-danger mt-10" href="@Url.Action("Index", "ExpensesRecords")">Back to List</a>
</div>
